.animal-detail-container {
    padding: 16px;
    display: flex;
    justify-content: center;
}
.mobile-only{
    align-self: center;
}

.animal-detail-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
    gap: 16px;
}

.animal-photo img {
    width: 100%;
    height: auto;
    border-radius: 0;
    /* mobile: sem borda */
    object-fit: cover;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.12);
}

.animal-content {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
}

/* Nome do pet */
.animal-name {
    font-size: 1.8rem;
    font-weight: 700;
    color: #2b2b2b;
}

/* Mobile / Desktop visibility */
.mobile-only {
    display: block;
}

.desktop-only {
    display: none;
}

/* Tags */
.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.tag {
    display: flex;
    align-items: center;
    gap: 6px;
    border-radius: 8px;
    padding: 6px 10px;
    font-size: 0.9rem;
    font-weight: 600;
    color: #2c2c2c;

    i {
        font-size: 1rem;
    }
}

.tag-type {
    background: #e6eef7;
}

.tag-size {
    background: #ffe6c9;
}

.tag-gender-male {
    background: #dbe7f7;
}

.tag-gender-female {
    background: #ffd6e7;
}

.tag-age {
    background: #ffeeda;
}

.tag-vaccinated {
    background: #d1f5d3;
}

.tag-neutered {
    background: #f5d1d1;
}

/* Cards */
.animal-cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
}

.animal-description {
    padding: 12px;
    border-radius: 0;
    background: #fafafa;
    border: solid 1px #ddd;
    flex: 1;

    h3 {
        margin-bottom: 8px;
        font-size: 1.2rem;
        font-weight: 600;
    }

    p {
        font-size: 1rem;
        line-height: 1.5;

        a {
            color: #d85a1e; 
            font-weight: 600;
            text-decoration: underline;
        }
    }
}

.description-card {
    background: #f9f9f9;
}

.adoption-card {
    background: #fef6f0;
    border-color: #f7c59f;
}


@media (min-width: 700px) {

    /* Nome desktop */
    .mobile-only {
        display: none;
    }

    .desktop-only {
        display: block;
    }

    .animal-detail-card {
        flex-direction: row;
        gap: 24px;
    }

    .animal-photo,
    .animal-content {
        flex: 1;
    }

    .animal-photo img {
        height: 100%;
        border-radius: 14px;
        /* desktop: borda arredondada */
    }

    .animal-name {
        margin-bottom: 16px;
    }

    .animal-cards {
        flex-direction: row;
        gap: 16px;
    }

    .description-card,
    .adoption-card {
        flex: 1;
        min-width: 0;
        border-radius: 10px;
        border: 1px solid #ddd;
        padding: 16px;
    }
}