//================Adoption Button===============
.adoption-button-container {
  display: flex;
  justify-content: center;
  transform: translateY(-50%);
}
.adoption-button {
  display: inline-flex;
  background-color: #ff9900;
  color: white;
  cursor: pointer;
  font-weight: 700;
  border: none;
  padding: 10px 40px;
  border-radius: 24px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

//=================Pets Section===================
.pets-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//-----------------List Helper---------------------
.list-helper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin: 10px 10px 20px 10px;
}
.results-count {
  color: #666;
  font-size: 0.9rem;
  font-weight: 500;
}
.results-number {
  font-weight: bold;
}
.filter-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: white;
  color: #0d2d46;
  border: 1px solid #ccc;
  padding: 8px 15px;
  border-radius: 20px;
  font-weight: 500;
  font-size: 0.8rem;
}

//------------------Pet List-------------------
.pet-list {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 15px;
  max-width: 450px;
}