.card-wrapper {
  width: 100%;
  overflow: hidden;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.12);
  transition: all 0.2s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.01);
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.16);
  }
}

.pet-image {
  width: 100%;
  object-fit: cover;
}

.pet-details {
  padding: 1rem;

  .pet-name {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 12px;
    color: #2b2b2b;
  }
}

//================Tags==================
.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.pet-tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 8rem;
  flex: 1 1 max-content;
  gap: 0.35rem;
  padding: 0.35rem 0.75rem;
  border-radius: 8px;

  font-size: 0.78rem;
  font-weight: 600;
  color: hsl(from var(--tag-color) h s calc(l * 0.40));

  background: color-mix(in srgb, var(--tag-color) 90%, white 5%);
  backdrop-filter: blur(12px);
  border: 1px solid color-mix(in srgb, var(--tag-color) 20%, white 50%);
}