//=================Font insertion=================
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto-variable-font.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

//=================Global styles==================
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
  background-color: #f5f5f5;
  color: #333;
}