//=================Font insertion=================
@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/roboto-variable-font.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

//====================Global styles==================
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto';
  background: linear-gradient(
    to right,
    rgba(13, 45, 70, 0.06) 0%,  
    rgba(245, 245, 245, 0.99) 80%, 
    rgba(255, 165, 0, 0.01) 100%  
  );
  color: #333;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app-content {
  flex: 1;
}