<section class="footer">
    <div class="footer-wrapper">

        <!-- Coluna esquerda -->
        <div class="footer-brand">
            <h4>
                <img src="../../../assets/logo/logo-no-bg.png" alt="Logo Adotme">
                adotme
            </h4>

            <p class="footer-description">
                Promovendo adoção responsável e transformando vidas
                através do amor e do cuidado.
            </p>
        </div>

        <!-- Coluna direita -->
        <div class="footer-right">
            <div class="social">
                <p class="social-label">Redes sociais:</p>

                <div class="social-icons">
                    <a href="https://www.instagram.com/vivenciaunavet/" target="_blank" aria-label="Instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>

            <p class="footer-copy">
                &copy; {{ currentYear }} Adotme — Vivência Veterinária UNA Sete Lagoas.
            </p>

        </div>

    </div>
</section>