<section class="footer">
    <div class="footer-content">
        <p>&copy; 2025 Adote Já.</p>
        <div class="footer-links">
            <a href="admin_login.html">Login Admin</a> <span class="separator">|</span>
            <a href="#">Termos de Uso</a>
            <span class="separator">|</span>
            <a href="#">Política de Privacidade</a>
        </div>
        <div class="social-icons">
            <a href="#" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</section>